# PYSPARK CASE STUDY
# PALLAV GUPTA
# 46022374

## CONNECTING JUPYTER TO SPARK

In [3]:
import findspark
findspark.init()
findspark.find()

'c:\\spark'

## IMPORT NECESSARY LIBRARIES

In [4]:
import pandas as pd
import numpy as np
import pyspark
from pyspark.sql import SparkSession
from pyspark import SparkContext
from pyspark.sql.functions import udf
from pyspark.sql.functions import date_format
from pyspark.sql.functions import min,max,sum
from pyspark.sql.functions import weekofyear
from pyspark.sql.functions import isnan, when, count, col
import pyspark.sql.types as types
import math
from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets

## IMPORTING DATA

In [3]:
uber_data1 = pd.read_csv('uber_data_nyc/part-00000-65909711-74cb-4da9-acbd-3c279273213e.csv.gz')
uber_data2 = pd.read_csv('uber_data_nyc/part-00001-65909711-74cb-4da9-acbd-3c279273213e.csv.gz')
uber_data3 = pd.read_csv('uber_data_nyc/part-00002-65909711-74cb-4da9-acbd-3c279273213e.csv.gz')
uber_data4 = pd.read_csv('uber_data_nyc/part-00003-65909711-74cb-4da9-acbd-3c279273213e.csv.gz')

## APPENDING DATA

In [4]:
uber_data = uber_data4.append(uber_data3.append(uber_data2.append(uber_data1)))

In [5]:
uber_data.set_index(uber_data.index,inplace=True)

In [6]:
uber_data.head()

,VendorID,tpep_pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,total_amount
0,2,2016-06-09T21:06:36.000-07:00,-73.983360,40.760937,-73.977463,40.753979,7.30
1,2,2016-06-09T21:06:36.000-07:00,-73.987106,40.733173,-73.985909,40.766445,17.76
2,1,2016-06-09T21:06:37.000-07:00,-73.984276,40.775009,-73.968498,40.766430,9.30
3,2,2016-06-09T21:06:37.000-07:00,-73.976334,40.785851,-73.971733,40.791969,4.80
4,1,2016-06-09T21:06:38.000-07:00,-73.988029,40.743835,-73.990173,40.731773,8.75

In [7]:
len(uber_data)

3299999

In [8]:
uber_data.describe()

,VendorID,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,total_amount
count,3.299999e+06,3.299999e+06,3.299999e+06,3.299999e+06,3.299999e+06,3.299999e+06
mean,1.527929e+00,-7.305836e+01,4.024679e+01,-7.312868e+01,4.028653e+01,1.664624e+01
std,4.992194e-01,8.175607e+00,4.503776e+00,7.858150e+00,4.328784e+00,1.272999e+02
min,1.000000e+00,-1.151684e+02,0.000000e+00,-1.151754e+02,0.000000e+00,-1.953000e+02
25%,1.000000e+00,-7.399184e+01,4.073531e+01,-7.399123e+01,4.073413e+01,8.760000e+00
50%,2.000000e+00,-7.398138e+01,4.075307e+01,-7.397925e+01,4.075380e+01,1.230000e+01
75%,2.000000e+00,-7.396577e+01,4.076868e+01,-7.396158e+01,4.076994e+01,1.836000e+01
max,2.000000e+00,0.000000e+00,5.109830e+01,1.062469e+02,5.031214e+01,1.874423e+05

## CREATE INDEX

In [9]:
uber_data['index']=np.arange(len(uber_data))

In [10]:
uber_data.set_index('index')

,VendorID,tpep_pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,total_amount
index,,,,,,,
0,2,2016-06-09T21:06:36.000-07:00,-73.983360,40.760937,-73.977463,40.753979,7.30
1,2,2016-06-09T21:06:36.000-07:00,-73.987106,40.733173,-73.985909,40.766445,17.76
2,1,2016-06-09T21:06:37.000-07:00,-73.984276,40.775009,-73.968498,40.766430,9.30
3,2,2016-06-09T21:06:37.000-07:00,-73.976334,40.785851,-73.971733,40.791969,4.80
4,1,2016-06-09T21:06:38.000-07:00,-73.988029,40.743835,-73.990173,40.731773,8.75
5,2,2016-06-09T21:06:38.000-07:00,-74.016121,40.710899,-74.009789,40.715809,8.30
6,2,2016-06-09T21:06:39.000-07:00,-73.982590,40.777409,-73.966583,40.807934,14.30
7,1,2016-06-09T21:06:40.000-07:00,-73.970306,40.756084,-73.995689,40.764523,15.30
8,2,2016-06-09T21:06:40.000-07:00,-73.984703,40.754051,-74.002098,40.734707,12.96
9,1,2016-06-09T21:06:41.000-07:00,-73.960556,40.775707,-74.005936,40.745373,25.55
10,1,2016-06-09T21:09:50.000-07:00,-73.992615,40.737316,-74.000404,40.727394,8.80
11,1,2016-06-09T21:09:51.000-07:00,-74.001686,40.750751,-73.991066,40.750496,8.30
12,2,2016-06-09T21:09:51.000-07:00,-73.981895,40.763275,-73.974800,40.793251,17.16
13,1,2016-06-09T21:09:52.000-07:00,-74.000633,40.727127,-73.993607,40.666752,24.30
14,1,2016-06-09T21:09:53.000-07:00,-73.993576,40.727428,-73.965942,40.754364,15.50
15,2,2016-06-09T21:09:53.000-07:00,-74.008247,40.711269,-73.983871,40.693539,14.69
16,1,2016-06-09T21:09:54.000-07:00,-74.006248,40.734138,-73.994705,40.750278,11.00
17,1,2016-06-09T21:09:55.000-07:00,-73.983429,40.771011,-73.955383,40.777802,11.30
18,1,2016-06-09T21:09:56.000-07:00,-73.953995,40.774841,-73.996407,40.765015,15.80
19,2,2016-06-09T21:13:20.000-07:00,-74.001480,40.730499,-73.967667,40.766109,16.80
20,2,2016-06-09T21:13:21.000-07:00,-73.999832,40.743336,-73.988556,40.737232,7.30
21,2,2016-06-09T21:13:22.000-07:00,-73.985786,40.738289,-74.012650,40.716217,20.16
22,2,2016-06-09T21:13:22.000-07:00,-73.963058,40.769299,-73.967308,40.757530,9.36
23,1,2016-06-09T21:13:23.000-07:00,-73.979691,40.762169,-73.993073,40.680367,38.75
24,2,2016-06-09T21:13:23.000-07:00,-73.995972,40.738506,-73.915909,40.771835,53.21
25,1,2016-06-09T21:13:24.000-07:00,-74.000130,40.734825,-73.991425,40.735016,6.30
26,1,2016-06-09T21:13:24.000-07:00,-73.989983,40.756767,-73.871063,40.774204,52.59
27,1,2016-06-09T21:13:24.000-07:00,-73.983955,40.746498,-73.992592,40.758778,10.79
28,2,2016-06-09T21:13:24.000-07:00,-73.972313,40.746368,-73.953461,40.788502,15.30
29,1,2016-06-09T21:05:59.000-07:00,-73.977974,40.773571,-73.961502,40.760269,10.80
...,...,...,...,...,...,...,...
3299969,2,2016-06-07T12:11:26.000-07:00,-73.982880,40.765881,-73.870911,40.773998,49.61
3299970,1,2016-06-07T11:57:04.000-07:00,-73.965126,40.769474,-73.959778,40.771191,8.15
3299971,1,2016-06-07T11:57:05.000-07:00,-74.009995,40.720783,-73.953957,40.765244,31.30
3299972,2,2016-06-07T11:57:05.000-07:00,-73.985153,40.761059,-74.001022,40.762691,7.30
3299973,1,2016-06-07T11:57:07.000-07:00,-73.955765,40.781895,-73.971115,40.783089,7.80
3299974,2,2016-06-07T11:57:07.000-07:00,-73.954681,40.784119,-73.959869,40.776283,7.56
3299975,1,2016-06-07T11:57:08.000-07:00,-73.988281,40.723133,-73.955833,40.763947,19.55
3299976,1,2016-06-07T11:57:09.000-07:00,-74.008324,40.736893,-74.005333,40.728699,7.80
3299977,1,2016-06-07T11:57:10.000-07:00,-73.984993,40.747662,-73.981682,40.746407,4.30
3299978,2,2016-06-07T11:57:10.000-07:00,-73.953682,40.767021,-73.956596,40.778419,6.80
3299979,2,2016-06-07T12:11:26.000-07:00,-73.992599,40.737461,-74.009560,40.726009,12.88
3299980,2,2016-06-07T12:11:26.000-07:00,-73.961517,40.770145,-73.953957,40.765331,5.30
3299981,1,2016-06-07T12:11:28.000-07:00,-73.975021,40.758549,-73.968422,40.767342,7.30
3299982,2,2016-06-07T12:11:28.000-07:00,-73.964439,40.770321,-73.972939,40.762699,11.16
3299983,1,2016-06-07T12:11:30.000-07:00,-73.863052,40.768631,-73.897789,40.642410,48.30
3299984,2,2016-06-07T12:11:30.000-07:00,-73.962257,40.773411,-73.955292,40.769321,6.80
3299985,2,2016-06-07T12:11:31.000-07:00,-74.005493,40.706123,-73.989044,40.712643,7.80
3299986,1,2016-06-07T12:11:32.000-07:00,-73.984993,40.732311,-74.006126,40.723373,10.80
3299987,2,2016-06-07T12:11:32.000-07:00,-73.995888,40.759220,-73.993469,40.721951,22.30
3299988,2,2016-06-07T12:11:33.000-07:00,-73.972229,40.759167,-73.983109,40.745567,9.80
3299989,2,2016-06-07T11:57:12.000-07:00,-73.967812,40.751759,-73.998535,40.753437,21.30
3299990,1,2016-06-07T11:57:13.000-07:00,-73.990135,40.735172,-73.968834,40.763599,17.80
3299991,1,2016-06-07T11:57:14.000-07:00,-73.948532,40.782440,-73.999680,40.754082,27.35
3299992,2,2016-06-07T11:57:14.000-07:00,-73.985321,40.747177,-73.962547,40.772797,17.30
3299993,1,2016-06-07T11:57:15.000-07:00,-73.996582,40.753269,-74.009949,40.721317,15.95
3299994,2,2016-06-07T11:57:15.000-07:00,-73.968178,40.762550,-73.998390,40.740429,15.80
3299995,1,2016-06-07T11:57:16.000-07:00,-73.980606,40.751019,-73.983719,40.746422,7.30
3299996,1,2016-06-07T11:57:18.000-07:00,-73.965721,40.754444,-73.950455,40.784973,14.75
3299997,2,2016-06-07T11:57:19.000-07:00,-73.873352,40.773949,-73.980774,40.760410,44.84
3299998,2,2016-06-07T12:11:33.000-07:00,-73.963699,40.774010,-73.951202,40.781860,10.56

## IMPORT DATA INO SPARK

In [11]:
sc = SparkContext() 
sqlContext = pyspark.SQLContext(sc)
spark = pyspark.sql.SparkSession(sc)

In [12]:
DataFrame0 = spark.read.csv('uber_data_nyc/part-00000-65909711-74cb-4da9-acbd-3c279273213e.csv.gz'
                    ,header='true',inferSchema='true')
DataFrame1 = spark.read.csv('uber_data_nyc/part-00001-65909711-74cb-4da9-acbd-3c279273213e.csv.gz'
                    ,header='true',inferSchema='true')
DataFrame2 = spark.read.csv('uber_data_nyc/part-00002-65909711-74cb-4da9-acbd-3c279273213e.csv.gz'
                    ,header='true',inferSchema='true')
DataFrame3 = spark.read.csv('uber_data_nyc/part-00003-65909711-74cb-4da9-acbd-3c279273213e.csv.gz'
                    ,header='true',inferSchema='true')

In [13]:
DataFrame = DataFrame0.union(DataFrame1.union(DataFrame2.union(DataFrame3)))

In [14]:
DataFrame.count()

3299999

## 1. Use the Haversine formula to calculate the distance from the latitudes of the pickup and drop points. Include the formula in a Python package and create the necessary user defined functions in Spark. Store the data as a csv file.

In [15]:
def haversine(lon1,lat1,lon2,lat2): 
    dLon = (lon2-lon1)*math.pi/180.0
    dLat = (lat2-lat1)*math.pi/180.0

    lat1 = (lat1)*math.pi/180.0
    lat2 = (lat2)*math.pi/180.0
  
    a = (pow(math.sin(dLat/2),2)+pow(math.sin(dLon/2),2)*math.cos(lat1)*math.cos(lat2)); 
    rad = 6371
    c = 2*math.asin(math.sqrt(a)) 
    return (rad*c*0.621371)

In [16]:
haversine_udf = udf(haversine,types.DoubleType())
uber=DataFrame.withColumn("distance_miles",haversine_udf("pickup_longitude","pickup_latitude","dropoff_longitude","dropoff_latitude"))

In [17]:
uber.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- pickup_longitude: double (nullable = true)
 |-- pickup_latitude: double (nullable = true)
 |-- dropoff_longitude: double (nullable = true)
 |-- dropoff_latitude: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- distance_miles: double (nullable = true)

In [18]:
uber.show()

+--------+--------------------+------------------+------------------+------------------+------------------+------------+-------------------+
|VendorID|tpep_pickup_datetime|  pickup_longitude|   pickup_latitude| dropoff_longitude|  dropoff_latitude|total_amount|     distance_miles|
+--------+--------------------+------------------+------------------+------------------+------------------+------------+-------------------+
|       2| 2016-06-10 09:36:36|-73.98171997070312| 40.73666763305664|-73.98163604736328| 40.67024230957031|        27.3|  4.589547091999834|
|       2| 2016-06-10 09:36:36|-73.99520111083984|  40.7394905090332|-73.99320220947266| 40.76264190673828|       14.16| 1.6030245428829144|
|       1| 2016-06-10 09:36:37|-73.97792053222656|40.750091552734375|-73.98723602294923|40.749359130859375|       16.63|0.49021864625329686|
|       2| 2016-06-10 09:36:37|-73.99358367919923| 40.72459030151367|-74.00804901123048| 40.74034118652344|       13.56| 1.3258730658656308|
|       2| 2016-06-10 09:36:38|-73.95360565185547| 40.78530883789063|-73.98201751708984| 40.76312255859375|       17.16| 2.1353843409404654|
|       1| 2016-06-10 09:36:39| -74.0051040649414| 40.73751831054688|-73.99778747558594|40.756744384765625|       11.16| 1.3825000511921361|
|       2| 2016-06-10 09:36:39| -73.8730239868164|40.774089813232415|-73.95150756835938|40.786075592041016|       35.21|  4.188857980786888|
|       1| 2016-06-10 09:36:40|-73.98251342773438|  40.7723388671875| -73.9684066772461|  40.7549057006836|        14.3| 1.4127439332659533|
|       2| 2016-06-10 09:36:40|-73.96870422363281| 40.79909133911133| -73.9517593383789| 40.80934524536133|        10.3| 1.1346008008289619|
|       1| 2016-06-10 09:36:41|-73.99408721923827| 40.75905227661133|-73.98001098632812| 40.78608322143555|        13.3|   2.00764314770713|
|       1| 2016-06-10 09:39:50| -73.9781723022461| 40.75801467895508|-73.96627807617188| 40.75945663452149|         6.3| 0.6304160984742582|
|       1| 2016-06-10 09:39:51|-73.97830963134766| 40.78797912597656|-73.99369049072266| 40.74690628051758|       17.75|  2.949787629698953|
|       2| 2016-06-10 09:39:51| -73.9840087890625| 40.74385070800781| -73.9901123046875|40.756919860839844|       10.56| 0.9578388488814369|
|       1| 2016-06-10 09:39:52|-73.99886322021484| 40.73970413208008|-74.00420379638672| 40.71982955932617|        12.3| 1.4013807658082256|
|       2| 2016-06-10 09:39:53|-73.97228240966798| 40.75983047485352|-73.99027252197266| 40.75632095336913|         9.8| 0.9722596829958997|
|       2| 2016-06-10 09:39:53| -73.9732437133789|40.743839263916016|-73.96582794189453| 40.75445938110352|         6.8| 0.8301232404720144|
|       1| 2016-06-10 09:39:55| -73.9827423095703| 40.76176071166992|-73.98916625976562|40.766685485839844|        8.75|0.47832666322666395|
|       2| 2016-06-10 09:39:55|-73.97091674804686| 40.75846862792969|-73.95187377929686| 40.77802276611328|       11.76|  1.678793566362956|
|       2| 2016-06-10 09:39:56|-73.99311828613281| 40.73656845092773|-73.94728088378906| 40.77996063232422|       21.96|  3.839744257085028|
|       1| 2016-06-10 09:43:21|-73.98220825195312| 40.76206970214844|-73.96581268310547| 40.75490188598633|         7.8|  0.990741634057404|
+--------+--------------------+------------------+------------------+------------------+------------------+------------+-------------------+
only showing top 20 rows

In [19]:
g=uber.select('VendorID','pickup_longitude','pickup_latitude',
                   'dropoff_longitude','dropoff_latitude','total_amount','distance_miles')
g.select([count(when(isnan(c), c)).alias(c) for c in g.columns]).show()

+--------+----------------+---------------+-----------------+----------------+------------+--------------+
|VendorID|pickup_longitude|pickup_latitude|dropoff_longitude|dropoff_latitude|total_amount|distance_miles|
+--------+----------------+---------------+-----------------+----------------+------------+--------------+
|       0|               0|              0|                0|               0|           0|             0|
+--------+----------------+---------------+-----------------+----------------+------------+--------------+

In [20]:
uber.write.csv('/Users/Sanjay Gupta/Desktop/NewUberData')

In [21]:
uber.createOrReplaceTempView('uber')

## 2. Find the date range from the newly created csv file.

In [22]:
spark.sql('select min(tpep_pickup_datetime) as dateRange from uber union select max(tpep_pickup_datetime) from uber').show()

+-------------------+
|          dateRange|
+-------------------+
|2016-06-01 12:30:00|
|2016-06-12 21:59:19|
+-------------------+

In [23]:
uber.select(min("tpep_pickup_datetime").alias('start_date')).show()
uber.select(max("tpep_pickup_datetime").alias('end_date')).show()

+-------------------+
|         start_date|
+-------------------+
|2016-06-01 12:30:00|
+-------------------+

+-------------------+
|           end_date|
+-------------------+
|2016-06-12 21:59:19|
+-------------------+

## 3. Aggregate data based on week to depict weekly distance of travel

In [24]:
spark.sql("select weekofyear(tpep_pickup_datetime) as week,sum(distance_miles) as total_distance from uber group by weekofyear(tpep_pickup_datetime)").show()

+----+--------------------+
|week|      total_distance|
+----+--------------------+
|  22|3.7738647911456354E7|
|  23| 3.541426417288098E7|
+----+--------------------+

In [25]:
uber.groupBy(weekofyear("tpep_pickup_datetime").alias("date_by_week")).agg(sum("distance_miles")).orderBy("date_by_week").show()

+------------+--------------------+
|date_by_week| sum(distance_miles)|
+------------+--------------------+
|          22|3.7738647911456354E7|
|          23| 3.541426417288098E7|
+------------+--------------------+

## 4.	Identify the vendor covering the highest miles.

In [26]:
spark.sql('select VendorID from uber group by vendorID order by sum(distance_miles) desc limit 1').show()

+--------+
|VendorID|
+--------+
|       1|
+--------+

In [32]:
(uber.select("VendorID","distance_miles").groupBy('VendorID').agg(sum('distance_miles').alias('Sum_distance'))).select("VendorID").orderBy("Sum_distance",ascending=False).show(1)

+--------+
|VendorID|
+--------+
|       1|
+--------+
only showing top 1 row

## 5. Calculate the total revenue made over a period of choice

In [5]:
range_slider = widgets.IntRangeSlider(
    value=[1, 12],
    min=1, max=12., step=1,
    description='day range:',
    
)
range_slider

IntRangeSlider(value=(1, 12), description='day range:', max=12, min=1)

In [29]:
query=("select sum(total_amount) as total_revenue from uber where dayofmonth(tpep_pickup_datetime) between {} and {}"
       .format(range_slider.value[0],range_slider.value[1]))

In [30]:
spark.sql(query).show()

+-------------------+
|      total_revenue|
+-------------------+
|5.493257646035227E7|
+-------------------+

In [31]:
(uber.filter((uber["tpep_pickup_datetime"]>="2016-06-10 04:06:40") & (uber["tpep_pickup_datetime"]<="2016-06-12 16:29:14"))).agg(sum('total_amount').alias('total revenue  between 2016-06-10 04:06:40 & 2016-06-12 16:29:14')).show()

+----------------------------------------------------------------+
|total revenue  between 2016-06-10 04:06:40 & 2016-06-12 16:29:14|
+----------------------------------------------------------------+
|                                            1.3916620769971028E7|
+----------------------------------------------------------------+